.App {
  text-align: center;
  background: black;
  height: 100%;
  padding: auto;
  position: relative;
}

.containment {
  position: absolute;
  left: 37%;
  top: 24%;
}

.content{
  height: 780px;
}
.status {
  font-size: 300%;
  font-family: monospace;
  color: white;
}

.navigation-bar {       /* Remove this if not used */
  background: #424242;
  font-family: monospace;
}

.leaveButton {
  position: absolute;
  padding: 1%;
  border-radius: 5%;
  font-size: larger;
  top: 5%;
  left: 5%;
}
.square {
  background: white;
  font-size: xx-large;
  border-radius: 5%;
  font-weight: bold;
  width: 100px;
  height: 100px;
  margin: 10px;
  box-shadow: #282c34;
}

.board-row {
  display: block;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
